{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.6.4",
                "modules": false
            },
            "@babel/preset-typescript"
        ]
    ],
    "plugins": [
        "solid-styled-jsx/babel"
    ],
    "exclude": "node_modules/**"
}
