/node_modules/
/src/
/test/
/assets/
/.vscode/
/script/
/config/
/assets/
.babelrc
.gitignore
.npmignore
.npmrc
vitest.config.ts
prettier.config.js
index.html
tsconfig.json
/.idea/
/niplayer-plugin-dash/
