.video-play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px 0 5px;

    .video-subplay {
      margin-left: 10px;
      display: flex;
      align-items: center;

      .video-start-pause {
        margin-right: 5px;
        cursor: pointer;
      }
      .video-duration {
        font-size: 12px;
        margin-left: 5px;

        .video-duration-completed {
          font-size: 12px;
        }

        .video-duration-all {
          font-size: 12px;
        }
      }
    }

    .video-settings {
      margin-right: 10px;
      display: flex;
      align-items: center;
      font-size: 20px;
      color: hsla(0,0%,100%,.8);
      fill: hsla(0,0%,100%,.8);
      .video-subsettings {
        display: flex;
        width: 36px;
        height: 20px; 
        justify-content: center;    
        align-items: center;   
        svg {
          transition: fill .15s ease-in-out;
        }
      }
      .video-volume {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 22px;
      }
      .video-fullscreen {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 20px;
      }
    }
  }