.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 50px;
    transition: all 0.3s ease;
    z-index: 2001;
    background-image: linear-gradient(to top, #000, #0006, #0000);
    background-position: bottom;
    background-repeat: repeat-x;
}

.video-controls-hidden {
    // height: 5px;
    transform: translateY(47px);
}